/* Make sure the html and body take up the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    margin-right: 20px;
    box-sizing: border-box;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: 80%;
    float: right;
}

.maps-container,
.towers-container,
.heroes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#showMap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#showMap div {
    margin: 10px;
    text-align: center;
}

#showMap img {
    width: 650px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

#showTowers {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center;  
    flex-wrap: wrap;
}

#showTowers div {
    margin: 10px;
    text-align: center;
    flex: 0 1 150px; 
    box-sizing: border-box;  
}

#showTowers img {
    width: 150px;
    height: 200px;
    display: block;
    margin: 0 auto;
}


#showHeroes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#showHeroes div {
    margin: 10px;
    text-align: center;
}

#showHeroes img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.kr5-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1.2em;
    position: relative;
    color: white;
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: 800;
    font-size: clamp(1rem, 4vw, 1.3rem);
    line-height: 60px;
    vertical-align: middle;
    text-transform: uppercase;
    background-image: url('../assets/button/btn_left.png'), url('../assets/button/btn_right.png'), url('../assets/button/btn_center.png');
    background-repeat: no-repeat;
    background-size: 20px 60px, 20px 60px, calc(100% - 38px) 60px;
    background-position: left center, right center, center center;
    transition: all .2s;
    letter-spacing: normal;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.5));
}

.kr5-btn:hover {
    cursor: pointer;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
}

li a:not(.active):hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;  
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
    left: auto; 
}

.about {
    padding-left: 10px;
}